
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <title>COCOARTZ!</title>
</head>
<body>
    <%-include('./comp/adminnav.ejs') %>

    <!--본격적인 HTML은 여기서부터-->

    <div class="width-400px" style="text-align: justify;">
        <h1 dir="auto">대시보드</h1>
            <p><b>서버 이름</b>: 코코아츠</p>
            <p><b>호스트</b>: <span id="hostname"></span></p>
            <p><b>코코아츠 버전</b>: <%=version %></p>
    </div>

    <!--footer-->
    <div class="footer">
        <div>COCOARTZ!</div>
    </div>
    <script>
        const url = window.location.host;
        document.querySelector("#hostname").innerText = url;
    </script>
</body>
</html>