
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./views/css/main.css">
    <title>COCOARTZ!</title>
</head>
<body>
    <nav class="navbar">
        <div id="coconav">
          <a href="/">메인</a> | 
          <a href="/about">코코아츠</a> | 
          <a href="/login">로그인</a> | 
          <a href="/guest">게스트룸</a>
        </div>
      </nav>

    <!--본격적인 HTML은 여기서부터-->

    <div class="width-370px">
        <h1>COCOARTZ!</h1>
        <div><img src="./views/assets/cocoa.png" style="width: calc( 100% - 20px ); padding-right: 20px; padding-bottom: 20px;"></div>
        <div>기력이 딸려서 오늘은 여기서 패스....</div>
    </div>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="./views/js/navbar.js"></script>

    <!--footer-->
    <div class="footer">
        <div>COCOARTZ!</div>
    </div>
</body>
</html>