<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" >
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <title>COCOARTZ!</title>
    </head>
    <body>
        <%-include('./comp/navbar.ejs') %>
        
        <!--본격적인 HTML은 여기서부터-->
        
        <div class="width-400px" style="text-align: center; background-color: #00000000;" id="userid_<%= userID %>">
            <canvas id="threejs" style="z-index: 1; position: fixed; left: 0; top: 100px;"></canvas>
            <h1>방 제목</h1>
            <div><%=userID %> 님, 안녕하세요!</div>
            <script src="/socket.io/socket.io.js"></script>
            <script src="/js/land.js" type="module"></script>
            <script>
                
            </script>
        </div>
        
        <!--footer-->
        <div class="footer">
            <div>COCOARTZ!</div>
        </div>
    </body>
</html>
