<% if ( isLogin == true ) { %> 
    <nav class="navbar">
        <div id="coconav">
          <a href="/">메인</a> | 
          <a href="/dashboard">대시보드</a>
        </div>
      </nav>
<% } else if ( adminExists == true ) { %>
    <nav class="navbar">
        <div id="coconav">
          <a href="/">메인</a> | 
          <a href="/login">유저 로그인</a> | 
          <a href="/adminlogin">관리자 로그인</a>
        </div>
      </nav>
<% } else { %>
    <nav class="navbar">
        <div id="coconav">
          <a href="/install">관리자 계정 생성</a>
        </div>
      </nav>
<% } %>